
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

.menu-top{width:100%; display: block; overflow: hidden}
.logo img{width:30%; float:left; height: auto; display: inline-block}
.banner img{width:70%; float:right; height: auto; display: inline-block}

.mainMenu {background: #4e555b;}
.mainMenu a{color:white; display: inline-block; text-decoration: none; padding: 10px; }
.mainMenu a:hover{background: #6c757d; color: #fff; }

.cv_h {text-align:center; }
.sd h2 { background:#666; display:inline-block; }
.th { background:#666; display:inline-block; }
.border{
    width: 300px;
    height: 300px;
    background: url("../img/ekram.jpg");
    border-radius: 50%;
    border:5px solid #1c7430;
    box-sizing:border-box;
}
.wrap{display: block; width:100%; overflow: hidden;}
.left{float:left; width:27%; display: inline-block}
.right{float:right; width:70%; display: inline-block}
.right p{text-align: justify}

.row h2{color: #6f42c1}
.row p{text-align: justify;}
.row img{width;100%;}

.footer .row {background-color: #212529; }
.footer .row ul{list-style: none;}
.footer .row ul li a{text-decoration: none; color: white}
.footer-bottom .row p {background-color: #4e555b; color: white; text-align: center; height: 50px;}

.singleMenu{}
.singleMenu ul{list-style: none; display:block; overflow: hidden; background-color: #4e555b ;  }
.singleMenu ul li{float: left; padding: 10px;  }
.singleMenu ul li a{color: white; text-decoration: none; }
.singleContent #red h2{color: red;}
.singleContent #green h2{color: green;}
.singleContent #blue h2{color: blue;}
.singleContent #orange h2{color: orange;}
.singleContent #yellow h2{color: yellow;}
.singleContent p{text-align: justify}














