
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

.menu-top{width:100%; display: block; overflow: hidden}
.logo img{width:30%; float:left; height: auto; display: inline-block}
.banner img{width:70%; float:right; height: auto; display: inline-block}

.mainMenu {background: #4e555b;}
.mainMenu a{color:white; display: inline-block; text-decoration: none; padding: 10px; }
.mainMenu a:hover{background: #6c757d; color: #fff; }

.cv_h {text-align:center; }
.sd h2 { background:#666; display:inline-block; }
.th { background:#666; display:inline-block; }

.home h2{background-color: #6c757d; color: #fff; padding: 10px; }
.border{
    width: 300px;
    height: 300px;
    background: url("../img/ekram.jpg");
    border-radius: 50%;
    border:5px solid #1c7430;
    box-sizing:border-box;
}
.border p{background-color: #6f42c1; color: #34ce57; display: inline-block; padding: 5px; border-radius: 50px; font-size: 16px; border:1px solid red; }
.border p:hover{background-color: #34ce57; color: #fff }
.home .right{background-color: #6c757d; color: #fff; padding: 10px; }

.wrap{display: block; width:100%; overflow: hidden;}
.left{float:left; width:27%; display: inline-block}
.right{float:right; width:70%; display: inline-block}
.right p{text-align: justify}

.row h2{color: #6f42c1}
.row p{text-align: justify;}
.row img{width;100%;}

.footer .row {background-color: #212529; }
.footer .row ul{list-style: none;}
.footer .row ul li a{text-decoration: none; color: white}
.footer-bottom .row p {background-color: #4e555b; color: white; text-align: center; height: 50px;}

.singleMenu{}
.singleMenu ul{list-style: none; display:block; overflow: hidden; background-color: #4e555b ;  }
.singleMenu ul li{float: left; padding: 10px;  }
.singleMenu ul li a{color: white; text-decoration: none; }
.conSide{display: block; overflow: hidden; }
.singleContent{width:70%; float:left;}
.singleContent #red h2{color: red;}
.singleContent #red p{background-color: red; color: white; padding: 10px;}
.singleContent #green h2{color: green;}
.singleContent #green p{background-color: green; color: white; padding: 10px}
.singleContent #blue h2{color: blue;}
.singleContent #blue p{background-color: blue; color: white; padding: 10px}
.singleContent #orange h2{color: orange;}
.singleContent #orange p{background-color: orange; color: white; padding: 10px}
.singleContent #yellow h2{color: yellow;}
.singleContent #yellow p{background-color: yellow; color: white; padding: 10px}
.singleContent p{text-align: justify}

.contuctSidebar{width:25%; float: right;}
.contuctSidebar h2{color: #6f42c1; }
.contuctSidebar ul{list-style: none;  }
.contuctSidebar li{list-style: none;  }
.contuctSidebar a{text-decoration: none; color: #34ce57   }

body{position:relative;}

.gallery h2{text-align: center; color: #6f42c1;}
.gallery p{text-align: center; color: #005cbf; font-size: 16px;}
.gallery{display: block; overflow: hidden; }
.box{display: block; float: left; width: 20%; padding: 10px; overflow: hidden; border-radius: 5px; }
.box img{width: 100%; border-radius: 5px; transition: .5s all ease; }
.box img:hover{transform: scale(1.5);}

.about h2{background-color: #34ce57; border-radius: 5px; border:2px solid red; text-align: center; padding: 5px; transition: 0.5s }
.about h2:hover{background-color: #6f42c1; color: #34ce57; }
.about img{width: 100%;}




